<% include partials/header %>

<div class="container">
    <!-- START ARTICLE FEED -->
    <section class="articles">
        <div id="blogPostDiv" class="column is-8 is-offset-2">
            <!-- START PROMO BLOCK -->
            <section class="hero is-info is-bold is-small promo-block">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Ben's Blog
                        </h1>
                        <h2 class="subtitle">
                            A blog documenting my progress in learning new technologies. <%=blogPosts.length%>
                        </h2>
                    </div>
                </div>
            </section>
            <!-- END PROMO BLOCK -->
            <%for(let i=0; i<blogPosts.length; i++) { %>
            <!-- START ARTICLE -->
            <div class="card article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-center">
                            <img src="./images/headshotNew.jpg" class="author-image" alt="Placeholder image">
                        </div>
                        <div class="media-content has-text-centered">
                            <p class="title article-title"><%= blogPosts[i].title%> </p>
                                <a href="https://www.linkedin.com/in/benglasder/"><%=blogPosts[i].author%></a> on <%=blogPosts[i].date%>
                            </p>
                        </div>
                    </div>
                    <div class="content article-body">
                        <%=blogPosts[i].content%>
                    </div>
                </div>
            </div>
            <!-- END ARTICLE -->
            <% } %>
    </section>
    <!-- END ARTICLE FEED -->
</div>
    <% include partials/footer %>
